* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

#wrapper {
  max-width: 1920px;
  overflow: hidden;
}

h3 {
  font-size: 55px;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}

h2 {
  font-size: 50px;
  font-family: "Square Peg", cursive;
  font-weight: 200;
}

h1 {
  font-size: 78px;
  font-family: "Square Peg", cursive;
  font-weight: 200;
}

h4 {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: 200;
}


.burger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

button p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.header-shipping-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2em;
  justify-content: center;
  background-color: #D7E6EC;
  font-weight: 500;
}

.header-shipping-bar p {
  color: #355674;
  text-align: center;
  font-size: 10px;
  padding-left: 0.5em;
}

.fa-truck {
  color: #355674;
  font-size: 10px;
}

.header-navbar {
  padding: 0;
  background-color: #355674;
  z-index: 9998;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 5em;
}

.header-logo {
  width: 114px;
  height: 46px;
}

.menu {
  list-style: none;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.menu li {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 2em;
  text-decoration: none;
}

.menu li a {
  text-decoration: none;
}

.hero {
  position: relative;
  height: 992px;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #C1ADCE;
  opacity: 50%;
  z-index: 1;
}

.hero img {
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Shift the image upwards */
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  text-align: center;
}

.hero-text p:nth-child(1) {
  font-family: "Square Peg", cursive;
  font-size: 65px;
}

.hero-text p:nth-child(2) {
  font-size: 18px;
}

.hero-button {
  width: 100%;
  background-color: #9478A7;
  color: white;
  border-radius: 1.5em;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.hero-button p {
  padding-right: 1em;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #C1ADCE;
}

.products-header {
  padding: 4em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 2em;
  overflow: hidden;
  padding: 2em;
  justify-items: center;
}

.product-cards-item {
  background-color: #9478A7;
  text-align: left;
  border-radius: 1em;
  max-width: 325px;
}

.product-cards-item img {
  border-radius: 1em 1em 0 0;
}

.product-card-text {
  padding-left: 1em;
}

.product-card-text p:last-child {
  padding: 0.5em 0 0.5em;
  font-size: 26px;
}

.product-card-text p:first-child {
  padding-top: 1em;
  opacity: 0.7;
}

.products-button {
  display: flex;
  width: 25%;
  padding: 1em;
  margin-top: 5em;
  margin-bottom: 10em;
  border-radius: 23px;
  border: solid 1px rgba(255, 255, 255, 0.7);
  align-items: center;
  justify-content: center;
  background-color: #C1ADCE;
  place-self: center;
}

.products-button p {
  padding-right: 1em;
}

.fa-chevron-right {
  color: rgba(255, 255, 255, 0.7);
}

.reviews-header {
  padding: 5em 0 5em;
}

.reviews-header h2,
.reviews-header h3 {
  text-align: center;
  color: #355674 !important;
}

.review-cards-item p:first-child {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  color: #355674;
  text-align: center;
  padding-bottom: 1em;
  line-height: 22px;
}

.review-cards-item p:last-child {
  font-family: "Square Peg", cursive;
  font-weight: 200;
  font-size: 28px;
  color: #9478A7;
  text-align: center;
}

.review-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 3em;
    width: 90%;
    margin: 0 auto;  
  margin-bottom: 3em;
}

.review-cards-item {
  max-width: 426px;
  background-color: rgba(215, 230, 236, 0.3019607843);
  border-radius: 1em;
  padding: 4em 2.5em 5em 2.5em;
  max-width: 426px;
}

#club-form {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  gap: 1em;
  flex-direction: column;
  grid-row: 2;
  grid-column: 2;
  padding-top: 2em;
}

.club-form {
  width: 100%;
  position: relative;
  background-image: url("../images/heros/produkter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: rgba(255, 255, 255, 0.7);
  padding-top: 15em;
  padding-bottom: 10em;
  z-index: 1;
}

.club-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 86, 116, 0.6980392157);
  z-index: -1;
}

.club-form-header {
  text-align: center;
  z-index: 9999;
  grid-row: 1;
  grid-column: 1/span 3;
}

.form-input {
  display: flex;
  width: 100%;
  padding: 1em 0 1em 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: solid rgba(255, 255, 255, 0.7) 1px;
  background-color: transparent;
  border-radius: 1.5em;
  align-items: center;
}

.form-input::-moz-placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.form-input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

#message {
  min-height: 180px;
}

.club-form-button button {
  width: 100%;
  background-color: #9478A7;
  color: white;
  border-radius: 1.5em;
  border: none;
  padding: 1em;
  margin-top: 1.5em;
}

footer {
  background-color: #355674;

}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 7em 7% 7em 7%;
}

.facebook-logo img,
.instagram-logo img {
  width: 50px;
  height: 50px;
}

.fa-phone {
  color: white;
}

.footer-text p:first-child,
.footer-social p {
  font-family: "Square Peg", cursive;
  font-size: 40px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-social {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-items: center;
  justify-self: center;
}

.footer-social p {
  grid-column: 1/span 2;
}

.facebook-logo {
  grid-column: 1;
}

.footer-logo {
  max-width: 184px;
  justify-self: flex-end;
    max-height: 74px;
}

.instagram-logo {
  grid-column: 2;
}

@media (max-width: 600px) {

  .menu {
    display: none;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    right: 0;
    padding-right: 2em;
    width: 50vw;
    background-color: #355674;
    margin-top: 1em;
    position: absolute;
    border-radius: 4px;

  }

  .menu.open li {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .burger-menu {
    display: block;
  }

  .bar {
    transition: transform 0.4s;
  }

  .bar:first-child {
    transform-origin: top left;
  }

  .bar:last-child {
    transform-origin: bottom left;
  }

  .open .bar:first-child {
    transform: rotate(45deg);
  }

  .open .bar:nth-child(2) {
    opacity: 0;
  }

  .open .bar:last-child {
    transform: rotate(-45deg);
  }

  #club-form {
    width: 80vw;
  }

  footer {
    background-color: #355674;

  }

  .footer-text {
    text-align: center;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em 3% 2em 3%;
  }



  .footer-logo {
    grid-column: 1/span 2;
    grid-row: 1;
    margin: 0 auto;
  }

  .instagram-logo {
    grid-column: 2;
  }
}
