footer {
    background-color: #355674;
    display: grid;
grid-template-columns: 1fr 1fr 1fr;                    
    padding:7em 7% 7em 7%;
}

.facebook-logo img,
.instagram-logo  img{
    width: 50px;
    height:50px;
}

.fa-phone {
    color: white;
}

.footer-text p:first-child,
.footer-social p {
    font-family: "Square Peg", cursive;
    font-size: 40px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-social {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-items: center;
    justify-self: center;
}

.footer-social p {
    grid-column: 1/span 2;
}

.facebook-logo {
    grid-column: 1;

}
.footer-logo {max-width:184px;justify-self: flex-end;max-height: 74px;}
.instagram-logo {
    grid-column: 2;
}