


.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #C1ADCE;


}

.products-header {
    padding: 4em;
    text-align: center;
    color: rgb(255, 255, 255, 0.7);
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap: 2em;
    overflow: hidden;
    padding: 2em;
justify-items: center;}

.product-cards-item {
    background-color: #9478A7;
    text-align: left;
    border-radius: 1em;
    max-width: 325px;
}

.product-cards-item img {
    border-radius: 1em 1em 0 0;
}

.product-card-text {
    padding-left: 1em;
}

.product-card-text p:last-child {
    padding: 0.5em 0 0.5em;
    font-size:26px;
}

.product-card-text p:first-child {
    padding-top: 1em;
    opacity: 0.7;
}

.products-button {
    display: flex;
    width: 25%;
    padding:1em;
    margin-top: 5em;
    margin-bottom: 10em;
    border-radius: 23px;
    border: solid 1px rgb(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    background-color: #C1ADCE;
    place-self: center;


}

.products-button p {padding-right:1em;}
.fa-chevron-right {color:rgb(255, 255, 255, 0.7);}