

            .reviews-header {
                padding: 5em 0 5em;
            }
            
            .reviews-header h2,  .reviews-header h3{
                text-align: center;
                color: #355674 !important;
            }


            .review-cards-item p:first-child {
                font-size: 18px;
                font-family: 'Quicksand', sans-serif;
                color: #355674;
                text-align: center;
                padding-bottom: 1em;
                line-height: 22px;

            }

            .review-cards-item p:last-child {
                font-family: 'Square Peg', cursive;
                font-weight: 200;
                font-size: 28px;
                color: #9478A7;
                text-align: center;
            }

            .review-cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                justify-items: center;
                gap: 3em;
                padding: 0 4em 8em 4em;
                margin-bottom: 3em;
            }


            .review-cards-item {
                max-width: 426px;
                background-color: #D7E6EC4D;
                border-radius: 1em;
                padding: 4em 2.5em 5em 2.5em;
                max-width: 426px;
            }
